/* css styles */

/* =Typography
-----------------------------------------------------------------------------*/
body {
  font-family: 'Poppins', 'Times New Roman';
  font-size: 1.0em;
  line-height: 1.5em;
  background-color: #ffffff;
}

pre>code {
  font-family: 'Courier Prime Sans', 'Source Code Pro', 'Courier New', 'Courier', monospace;
}

form,
input[type="search"],
select[multiple="multiple"] {
  font-family: 'Atkinshon Hyperlegible','Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5  {
  font-family: 'Poppins','Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black
  font-weight: bold;
}

h1 {
  color: #000000;    
  font-size: 3em;
  padding-bottom: 1em;
  line-height: 1.6em;
  font-weight: bold;
  /*-webkit-text-stroke: 1.3px #ffffff; */
}

h2 {
  font-size: 1.3em;
  border-bottom: 1px solid #000000;
  color: black;
}

h2 a {
  border-bottom: none;
  color: black;
  font-weight: bold;

}

h3 {
  font-size: 1.1em;
  color: black;
}

h6 {
  font-size: 0.8em;
}

/*a {
  color: #3300ff;
  text-decoration: none;
}*/

/*a:hover {
  text-decoration: underline;
  color: #00E0C9
}*/

a:hover {
  background-size: 0 3px, 100% 3px;
  color: #00E0C9;
}

hr {
  border-top: 1px solid #b3cde0;
  margin-top: 5ex;
  margin-bottom: 5ex;
  max-width: 100%;
}

blockquote {
  color: #3300ff;
  background: #3300ff33;
  border-left: 10px solid #3300ff;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: normal;
  font-size: 95%;
}

blockquote p {
  color: #3300ff;
  display: inline;
}

blockquote:before {
  color: black;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.table {
  --bs-table-bg: @faf8f8 !important;
}


td, th {
  background-color: #faf8f8 !important;
}

table th,
table td {
  border-bottom: 0px !important;
  padding: 0.2em .2em;
}

ul {
  list-style: square;
  color: #3300ff}

dd {
  margin-left: 2em;
}

figcaption {
  font-size: 11pt;
  text-align: center;
  font-style: italic;
  color: rgba(30, 102, 150, .7);
}


/* =Code
-----------------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 90%;
  font-style: normal;
  font-family: 'Courier Prime Sans', "Lucida Console", "Courier New", monospace;
}
 

nav,
.footer {
  font-family: 'Atkinson Hyperlegible','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/*a.nav-link,a.navbar-brand {
  border-bottom: 0;
  color: #ffefd5;
}*/

/*a.nav-link:hover,a.navbar-brand:hover {
  color: #00E0C9;
}*/

a.nav-link,a.navbar-brand {
  color: white;
  background:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    ),
    linear-gradient(
      to right,
      rgba(10, 34, 50, 1),
      rgba(0, 117, 108, 1),
      rgba(72, 106, 24, 1),
      rgba(174, 160, 55, 1), 
      rgba(189, 40, 46, 1) 
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a.nav-link:hover,a.navbar-brand:hover {
  background-size: 0 3px, 100% 3px;
  color: #00E0C9;
}



/* Badges */

a.badge.badge-red {
  color: #fff;
}

a.badge.badge-blue {
  color: #fff;
}

a.badge.badge-green {
  color: #fff;
}

.badge-large {
  font-size: 18px !important;
  text-transform: none !important;
  padding: 5px 5px 3px 5px;
  text-transform: none;
  font-family: 'Atkinson Hyperlegible', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.badge {
  font-family: 'Atkinson Hyperlegible', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.label,
.badge {
  background: #e0e3e5;
  font-size: 12.75px;
  display: inline-block;
  line-height: 1;
  padding: 4px 7px 3px 7px;
  color: #0f0f0f;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.label-outline {
  background: none;
  border: 1px solid red;
  padding: 3px 6px 2px 6px;
}

.badge {
  border-radius: 0px;
}

.badge-small {
  font-size: 11.25px;
  padding: 5px 5px 3px 5px;
}

.label-black,
.label-blue,
.label-red,
.label-green,
.badge-black,
.badge-blue,
.badge-red,
.badge-green {
  color: #ffffff !important;
}

.label-black,
.badge-black {
  background: #0f0f0f;
}

.label-blue,
.badge-blue {
  background: #00E0C9;
}

.label-red,
.badge-red {
  background: #BD666D;
}

.label-green,
.badge-green {
  background: #2c9f42;
}

.label-yellow,
.badge-yellow {
  background: #ffc800;
}

.label-white,
.badge-white {
  background: #ffffff;
}

.image-left {
  float: left;
  margin: 0 1em 1em 0;
}

.fa-ul>li {
  margin: 0.5em;
}

.quarto-title-meta {
  font-family: 'Atkinson Hyperlegible', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #00e0c933;
  color: black;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; 
  border-radius: 0px;
}

.quarto-title-meta-heading {
  margin: 1ex 1ex 0 1ex !important;
  font-family: 'Atkinson Hyperlegible';
  font-weight: bold;
  color: black;
}
.quarto-title-meta-contents {
  margin: 0ex 1ex 1ex 1ex !important;
}



.video-player {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.quarto-listing-category.category-cloud {
  font-family: 'Atkinson Hyperlegible', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color: black;
  font-size: 12pt;
}

.figure-caption {
  color: var(--darkgray);
  background-color: var(--lightgray);
  padding-left: 20px;
  font-size: 12pt;
  font-family: "Atkinson Hyperlegible", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.quarto-about-trestles .about-entity .about-link:hover {
  background-color: #3300ff;
  color: white;
}

.quarto-category:hover, .listing-category:hover {
  background-color: #0000ff;
  color: white !important;
  opacity: 1;
  font-size: 12pt;
}

/* Base listing title link */
div.quarto-post .body h3.listing-title > a {
  font-weight: bold !important;
  font-family: 'Poppins', sans-serif;
  color: black;
  text-decoration: none !important;

  background:
    linear-gradient(to right, white, white),
    linear-gradient(
      to right,
      rgba(10, 34, 50, 1),
      rgba(0, 117, 108, 1),
      rgba(72, 106, 24, 1),
      rgba(174, 160, 55, 1),
      rgba(189, 40, 46, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms, color 400ms;
}

/* Hover: reveal gradient bar + accent color match navbar */
div.quarto-post .body h3.listing-title > a:hover {
  background-size: 0 3px, 100% 3px;
  color: #00E0C9 !important;
}


div.listing-date, .listing-author {
    font-family: "Atkinson Hyperlegible";
}

.quarto-category, .listing-category, .listing-actions-group, .about-link-text {
  font-family: "Courier Prime Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14pt; 
  opacity: 1;
}

#mlb2-4240669.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody, #mlb2-4240669.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody {
  padding: 0px !important;
}

.footer-banner {
  margin-top: 2em;
}

.footer-banner img {
  width: 100%;
  display: block;
  max-height: 120px;
  object-fit: cover;
}

.nav-footer {
  background-image: url("/img/footer.png");   /* path to your banner */
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: white; /* optional for contrast */
}

.nav-footer a {
  color: #ffffcc; /* optional: tweak link color over image background */
}

/* testing */
/* TOC links – normal */
.sidebar nav[role=doc-toc] ul>li>a,
.sidebar nav[role=doc-toc] ul>li>ul>li>a {
  color: black;                              /* normal text */
  text-decoration: none;
  border-left: 2px solid transparent;          /* will show on active */

  /* same structure as navbar, but white base bar */
  background:
    linear-gradient(
      to right,
      white,
      white
    ),
    linear-gradient(
      to right,
      rgba(10, 34, 50, 1),
      rgba(0, 117, 108, 1),
      rgba(72, 106, 24, 1),
      rgba(174, 160, 55, 1), 
      rgba(189, 40, 46, 1) 
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

/* TOC links – hover: show gradient bar + change text */
.sidebar nav[role=doc-toc] ul>li>a:hover,
.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
  background-size: 0 3px, 100% 3px;           /* flip: gradient visible */
  color: #00E0C9 !important;
}

/* TOC links – active (THIS IS THE IMPORTANT PART) */
.sidebar nav[role=doc-toc] .nav-link.active {
  background-size: 0 3px, 100% 3px;  
  color: #00E0C9 !important;
  border-left-color: rgba(10, 34, 50, 1);
}

