.quarto-post {
  position: relative;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 8px;
  min-height: 250px;
  padding: 2rem;
  transition: opacity 1s ease;
  filter: brightness(1);
}

/* Date column */
.quarto-post .metadata {
  padding: 0rem;
  color: #000;
  width: 0px;
  flex-shrink: 0;
  display: flex;
  align-items: left;
}

/* Move thumbnail into background initially */
.quarto-post .thumbnail {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  background: none !important;
  align-items: flex-start;
}


.quarto-post .thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.3;
  background: none !important;
  box-shadow: none;
  transition: opacity 1s ease;
}

.quarto-post:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* Body content */
.quarto-post .body {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  padding: 0rem;
  color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

/* Only show title initially */
.quarto-post .listing-title {
  font-size: 1.8rem;
  margin-bottom: 0;
}

/* Hide subtitle and description until hover */
.quarto-post .listing-subtitle,
.quarto-post .listing-description {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 0.3s ease;
}

/* === HOVER EFFECT === */
.quarto-post:hover {
  background-color: transparent !important;
  filter: brightness(1);
  transition: opacity 1s ease; 
}


.quarto-post:hover .thumbnail {
  position: relative;
  width: 200px;
  height: auto;
  left: auto;
  flex-shrink: 0;
  z-index: auto;
  background-color: transparent !important;
}

.quarto-post:hover .thumbnail img {
  opacity: 1;
}

/* Show subtitle and description on hover */
.quarto-post:hover .listing-subtitle,
.quarto-post:hover .listing-description {
  opacity: 1;
  transform: translateY(0);
}
